.first-column{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.637);
    font-size: 15px;
    border-right: none;
    background-color: rgba(245, 222, 179, 0.438);
}
.second-column{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.733);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left: none;
    background-color: rgba(0, 0, 0, 0.253);
}
.third-column{
    font-size: 24px;
    background-color: wheat;
    border-radius: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
